/* stylelint-disable */
/**
 * Global viewport sizes
 */
$size--mobile: 425px;
$size--max-mobile: 767px;
$size--tablet: 768px;
$size--max-tablet: 1023px;
$size--desktop: 1024px;
$size--max-desktop: 1439px;
$size--large-desktop: 1440px;
